.inputText{
    height: 40px;
    width: 20vw;
    background-color: rgb(3, 3, 3);
    border-radius: 15px;
    border:none;
    outline: none;
    color: white;
  }
.inputText:hover{
    background-color: rgb(34, 34, 34);
    color: white;
  }
.form{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
 .btn{
    height: 35px;
    width: 60px;
    background-color: rgb(241, 58, 58);
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  .btn:hover{
    background-color: rgb(247, 166, 166) ;
  }
  #title{
    background-color: transparent;
    border:0;
    color:white;
    outline:none;
    font-size: 17px;
  }
 
  .tasks{
    color: white;
    width: 26vw;
    height: 30px;
    position: relative;
  }
 
#check{
    position: absolute;
    right:50px;

}

#delete{
    position: absolute;
    right: 20px;
}
#delete:hover{
    color: rgb(241, 58, 58);
}
#check:hover{
  color: rgb(241, 58, 58);
}

.options{
  background-color: rgb(241, 58, 58);
  margin-left:30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: none;
  height: 30px; 
  outline: none;
}
.options:hover{
  background-color: rgb(247, 166, 166) ;
}

@media only screen and (max-width: 900px){
  .form{
    width: 80vw;
  }
  .inputText{
    width: 60vw;
  }
  .tasks{
    width: 80vw;
  }
  .options{
    width: 60px;
  }
}
