body{
    background-color: rgb(207, 86, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
  }
  
  .App{
    background-color: rgb(29, 29, 29);
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
  }  
  header{
    color: white;
    font-size: 30px;
    margin-top: 30px;
  }
  .container::-webkit-scrollbar {
    width: 5px;
 }

  .container::-webkit-scrollbar-track {
      background: #f8f5f5;
  }

  .container::-webkit-scrollbar-thumb {
      background-color: #f8f5f5;
      border-radius: 20px;
      border: 3px solid #f8f5f5;
  }
@media only screen and (max-width: 900px){
  
  .App{
    height:500px;
    width:350px;
  }
}
