body{
    background-color: rgb(207, 86, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
  }
  
  .App{
    background-color: rgb(29, 29, 29);
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
  }  
  header{
    color: white;
    font-size: 30px;
    margin-top: 30px;
  }
  .scrollArea::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
 }

  .scrollArea::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
      background-color: #CCCCCC;
  }

  .scrollArea::-webkit-scrollbar-thumb {
      background-image: linear-gradient(white, black);
  
  }

  .scrollArea{
    margin-top: 20px;
    overflow-y: scroll;
    height:350px;
  }
@media only screen and (max-width: 900px){
  
  .App{
    height:500px;
    width:350px;
  }
  .scrollArea{
    height:250px;
  }
}
